---
import RetroShell from "../components/RetroShell.astro";
---

<RetroShell title="Home">
	<h1>Real Site Directory Buttons</h1>
	<h2>Content here</h2>
	<p>This is where your real site content will appear.</p>
</RetroShell>